body{
	background: #e0323e;
	display: flex;
	flex-direction:column;
}
h1{
	color:white;
	text-align: center;
}
a{
	text-decoration: none;
	color:#f2ba0a;
}
input{
	margin: auto;
	border:1px solid white;
	padding:1em;
	background: white;
	color:white;
	width:30vw;
	font-size: 1.2em;
}
input:focus{
	background: #024c54;
	border:2px solid #3e6863;
}
form{
	align-self: center;
}

